.styledHeader, .nameItem, .cvBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navItem,
.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nameItem h2, .nameItem p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBtn {
  margin: 5px;
}

.styledHeader {
  padding: 5px;
}

.navBtn {
  padding: 10px;
}

.nameItem {
  padding: 20px;
}

.styledHeader, .navBtn {
  background-color: #252422;
  color: #e0dede;
}

.navBtn:hover {
  background-color: #252422;
  color: #ff7d04;
}

@media (min-width: 991px) {
  .styledHeader {
    height: 170px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
  }
}

.navItem,
.navigation-item {
  width: 100%;
}

@media (min-width: 991px) {
  .navItem,
  .navigation-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

.navBtn {
  border: none;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 991px) {
  .navBtn {
    color: none;
    width: auto;
  }
}

.headerItem {
  width: 100%;
}

.nameItem {
  width: 80%;
}

.nameItem h2 {
  font-size: 1.7em;
  color: #ff7d04;
}

.nameItem p {
  font-size: 0.9em;
  color: #c9c8c6;
}
