.styledComponent, .styledTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.styledItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.styledComponent {
  margin: 0px;
}

.styledItem, .styledTitle {
  margin: 20px;
}

.styledComponent, .styledItem, .styledTitle {
  padding: 20px;
}

.styledItem {
  background-color: #e0dede;
  color: #252422;
}

.styledComponent, .styledTitle {
  background-color: #c9c8c6;
  color: #252422;
}

.styledComponent {
  position: relative;
  width: 100%;
}

.styledComponent .show {
  display: block;
}

.styledComponent .hide {
  display: none;
}

.styledItem {
  width: 100%;
}

.styledItem .show {
  display: block;
}

.styledItem .hide {
  display: none;
}

.styledTitle {
  width: 100%;
}
