@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/variables/variables.scss';

.objective-container {
    @extend %marginZero;
    @extend %paddingLarge;
    @extend %paletteLight;
    @extend %columnCentered;
    font-size: 0.9rem;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row-reverse;
    }
}

.objective-content {
    @extend %paddingMedium;
    width: 100%;
}

.objective-img {
    @extend %rowCentered;
    height: 250px;
    width: 100%;
}

.content-header {
    @extend %paddingMedium;
}

.content-text {
    @extend %paddingMedium;
}

h1 {
    font-size: 2rem;
    @extend %paddingMedium;

}

img {
    @include setImageDisplay(5px, 280px, 100%);
    margin: 60px;

    @include forLargeScreens($breakpoint-medium) {
        margin: 20px;
    }
}