@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/variables/variables.scss";

.btn-item {
    @extend %rowSpaceBetween;
    @extend %marginMedium;
    @include setImageDisplay(5px, auto, 100%);
    @include setLinkItem;
    font-size: 0.9rem;
}

.content-header {
    @extend %paddingMedium;
}

.content-text {
    @extend %paddingMedium;
}

.content-top-container {
    @extend %columnCentered;
    font-size: 0.9rem;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
    }
}

.education-container {
    @extend %columnCentered;
    @extend %paletteMedium;
    @extend %paddingLarge;
    @extend %marginZero;
    border: 2px solid $color_dark;
}

.education-content {
    @extend %paddingMedium;
    width: 100%;
}

.education-img {
    @extend %rowCentered;
    height: 250px;
    width: 80%;
}

.education-items-container {
    @extend %columnSpaceBetween;
    @extend %marginMedium;
    width: 80%;
    @include forLargeScreens($breakpoint-medium) {
        flex-direction: column;
    }
}

.item-container {
    @extend %columnSpaceBetween;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

h1 {
    color: $color_dark;
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.1rem;
}

img {
    @include setImageDisplay(5px, 280px, 100%);
    margin: 60px;

    @include forLargeScreens($breakpoint-medium) {
        margin: 20px;
    }
}

p {
    @extend %marginMedium;
}

p strong {
    color: $color_text-medium;
}

ul li {
    @extend %paddingStandard;
    margin: 10px 0 0 40px;
    width: 100%;
    list-style: none;
    font-size: 0.9rem;
    border: 1px solid;
}
