@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/variables/variables.scss';

.btn-container {
    @extend %rowCentered;
    @extend %marginZero;
    @extend %paddingZero;
}

.btn {
    @extend %buttonEffect;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.content-header {
    @extend %paddingMedium;
}

.content-text {
    @extend %paddingMedium;
}

.content-top-container {
    @extend %marginZero;
    @extend %paddingMedium;
    @extend %paletteMedium;
    @extend %columnCentered;
    font-size: 0.9rem;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
    }
}

.education-container {
    @extend %columnCentered;
}

.education-content {
    @extend %paddingMedium;
    width: 100%;
}

.education-img {
    @extend %rowCentered;
    height: 250px;
    width: 100%;
}

.education-items-container {
    
}

.show {
    display: flex;
}

.hide {
    display: none;
}

h1 {
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.1rem;
}

img {
    @include setImageDisplay(5px, 280px, 100%);
    margin: 60px;

    @include forLargeScreens($breakpoint-medium) {
        margin: 20px;
    }
}
