@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/variables/variables.scss";

.styledHeader {
    @extend %columnCentered;
    @extend %paletteDark;
    @extend %paddingSmall;
    // height: 100%;

    @include forLargeScreens($breakpoint-medium) {
        height: 170px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }
}



.navItem,
.navigation-item {
    @extend %columnLeft;
    width: 100%; 

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }
}

.navBtn {
    @extend %marginSmall;
    @extend %paddingStandard;
    @extend %paletteDark;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover {
        @extend %paletteDarkContrast;
    }

    @include forLargeScreens($breakpoint-medium) {
        color: none;
        width: auto;
    }
}

.headerItem {
    @extend %rowSpaceBetween;
    width: 100%;
}

.nameItem {
    @extend %columnCentered;
    @extend %paddingMedium;
    width: 80%;
    h2 {
        @extend %rowCentered;
        font-size: 1.7em;
        color: $color_contrast;
    }
    p {
        @extend %rowCentered;
        font-size: 0.9em;
        color: $color_medium-light;
    }
}

.cvBtn {
    @extend %columnCentered;
}
