@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/variables/variables.scss";

.btn {
    @extend %buttonEffect;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.btn-item {
    @extend %rowSpaceBetween;
    @extend %marginMedium;
    @include setImageDisplay(5px, auto, 100%);
    @include setLinkItem;
    background-color: $color_background-grey;
    font-size: 0.9rem;
}

.btns-container {
    @extend %rowCentered;
}

.content-and-image-container {
    @extend %rowSpaceBetween;

    ul {
        @extend %columnSpaceBetween;
    }
}

.content-header {
    @extend %paddingMedium;
}

.content-text {
    @extend %paddingMedium;
}

.content-top-container {
    @extend %columnCentered;
    font-size: 0.9rem;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row-reverse;
    }
}

.experience-container {
    @extend %columnCentered;
    @extend %paletteLight;
    @extend %paddingLarge;
    @extend %marginZero;
    border: 2px solid $color_dark;
}

.experience-content {
    @extend %paddingMedium;
    width: 100%;
}

.experience-img {
    @extend %rowCentered;
    height: 250px;
    width: 80%;
}

.experience-items-container {
    @extend %columnSpaceBetween;
    @extend %marginMedium;
    width: 80%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: column;
    }
}

.list-style-circle li {
    list-style: circle;
}

.logo-img {
    @extend %rowCentered;
    height: 70px;
    width: 180px
}

.item-container,
.subitem-container {
    @extend %columnSpaceBetween;
    width: 100%;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

h1 {
    font-size: 2rem;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.1rem;
}

img {
    @include setImageDisplay(5px, 280px, 100%);
    margin: 60px;

    @include forLargeScreens($breakpoint-medium) {
        margin: 20px;
    }
}

p {
    @extend %marginMedium;
}

p strong {
    color: $color_text-medium;
}

.project-container {
    @extend %marginMedium;
    @extend %paddingStandard;
}

ul li {
    @extend %paddingStandard;
    margin: 10px 0 0 40px;
    width: 100%;
    list-style: none;
    font-size: 0.9rem;
}
