@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';
@import '../../styles/variables/variables.scss';

.about-me-container {
    @extend %rowSpaceBetween;
    @extend %marginStandard;
}

.about-me-content {
    @extend %columnSpaceBetween;
    width: 60%;
}

.about-me-img {
    height: 220px;
    margin: 10px 0 10px 10px;
    // position: relative;
    width: 40%;
}

img {
    height: 280px;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}