@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/variables/variables.scss";

.about-me-container {
    @extend %marginZero;
    @extend %paddingLarge;
    @extend %paletteMedium;
    @extend %columnCentered;
    font-size: 0.9rem;
    width: 100%;

    @include forLargeScreens($breakpoint-medium) {
        flex-direction: row;
    }
}

.about-me-content {
    @extend %paddingMedium;
    width: 100%;
}

.about-me-img {
    @extend %rowCentered;
    height: 250px;
    width: 80%;
}

.btn-container {
    @extend %rowCentered;
    @extend %marginZero;
    @extend %paddingZero;
}

.btn {
    @extend %buttonEffect;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.content-header {
    @extend %paddingMedium;
}

.content-text {
    @extend %paddingMedium;
}

h1 {
    font-size: 3rem;
    padding-bottom: 10px;
    color: $color_text-contrast;

}

h3 {
    font-size: 1.1rem;
    em {
        @extend %marginMedium;
        @extend %paletteMediumContrast;
    }
}

img {
    @include setImageDisplay(5px, 280px, 100%);
    margin: 60px;

    @include forLargeScreens($breakpoint-medium) {
        margin: 20px;
    }
}
